/* Ogólne ustawienia */
body {
  height: 97.9vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #007bff, #e9e4f0);
  position: relative;
}

.App {
  text-align: center;
}

/* Kontener formularza */
.report-adder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.report-adder-container h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #444;
}

/* Etykiety i pola formularza */
.report-adder-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}
.report-adder-container input,
.report-adder-container select,
.report-adder-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 5px;
  transition: border-color 0.3s ease;
}

.report-adder-container input:focus,
.report-adder-container select:focus,
.report-adder-container textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Przycisk */
.report-adder-container button {
  background: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.report-adder-container button:hover {
  background: #0056b3;
}

/* Komunikaty */
.report-adder-container .error {
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.report-adder-container .success {
  color: #008000;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.report-adder-container textarea {
  height: 100px;
  resize: vertical;
}
/* Animacja ładowania */
.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
      background-color: #ccc;
  }
  50% {
      transform: translateY(-10px);
      background-color: #fff;
  }
}
/* Sekcja logowania */
.login-container {
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
}

.login-container.dark {
  background: #2c2c2c;
  color: #fff;
}

.login-container.light {
  background: #f9f9f9;
  color: #000;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.login-form .input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #555;
  border-radius: 4px;
}

.light .login-form input {
  background-color: #fff;
  color: #000;
}

.login-form input:focus {
  outline: none;
  border-color: #007bff;
}
/* Przycisk logowania */
.login-button {
  background: #ffeb3b;
  color: #000;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 104%;
  font-size: 1rem;
  transition: background 0.3s, transform 0.3s;
}

.login-button:hover {
  background: #ffc107;
  transform: scale(1.05);
}

.reset-password {
  display: block;
  text-align: right;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s;
}

.reset-password:hover {
  color: #0056b3;
}

/* Przełącznik motywu */
.theme-switch {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.theme-switch label {
  margin-right: 0.5rem;
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.switch .slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.3s;
}

.dark .switch {
  background-color: #444;
}

.dark .switch .slider {
  left: 32px;
}

/* Logo */
.app-logo {
  width: 200px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.footer-logo {
width: 75px; /* Szerokość logo */
height: auto; /* Automatyczna wysokość proporcjonalna */
}

.kontenr_logo_dalbis {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.app2-logo {
  width: 75px;
  height: auto;
}
/* Responsywność */
@media screen and (max-width: 768px) {
  .report-adder-container {
      width: 95%; /* Szerokość formularza na mniejszych ekranach */
  }

  .login-container {
      width: 90%; /* Szerszy kontener logowania */
  }
}
